@import "podium";
@import "breakpoints.scss";
@import "animation";

@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:400,500,600,700,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.modal-lock {
    overflow: hidden;
  }
}

// img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  border: none;
  width: auto;
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  overflow: hidden;
  @include md {
    max-width: 1400px;
    padding: 0 64px;
  }
}

.container-bg{
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  &__svg-right,
  &__svg-left{
    position: absolute;
    animation: up-and-down 3s infinite linear;
    width: 200px;
    height: 150px;
    z-index: 0;
    @include sm {
      width: 350px;
      height: 250px;
    } 
  }

  &__svg-logo{
    margin: 0;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    @include md {
      top: 10px;
      left: 10px;
      transform: none;
    }
  }

  &__svg-right {
    top: 0px;
    right: -50px;
  }

  &__svg-left {
    bottom: -10px;
    left: 0px
  }

}


